pandas 
numpy
Pillow==8.4.0
tensorflow
scikit-learn
ensure==1.0.2
pyYAML
tqdm
notebook
python-box==6.0.2
types-pyYAML
dvc
joblib
streamlit
altair==4.1.0
pytest==7.4.2
setuptools==67.8.0
wheel==0.38.4
pydantic==2.4.2

-e .
